// Color
$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;

$text-color-primary: #777; //grey
$text-dark: #000; //black
$text-white: #fff; //white
$color-grey-light-1: #f7f7f7;

// Font Sizes
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
