body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
    padding: 30px;
  }

  .header__mid-primary-content {
    text-transform: uppercase;
    margin-bottom: 120px;
    backface-visibility: hidden;

    .primary-main {
      display: block;
      letter-spacing: 30px;
      font-size: 8rem;
      font-weight: 200;
      animation: 1s fadeinleft ease-in;
    }

    .primary-sub {
      display: block;
      letter-spacing: 20px;
      font-size: 2.3rem;
      font-weight: 200;
      animation: 1s fadeinright ease-out;
    }
  }

  .heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $primary-color-light, $primary-color-dark);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    &:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: .5rem 1rem 2rem rgba($text-dark, .2);
    }
  }

  .heading-tertiary{
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
  }

  .paragraph {
    font-size: $default-font-size;
    
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }